.date-field {
  width: 100%;
}

.gender-field {
  white-space: nowrap;
}

#user-panel-avatar {
  width: 300px;
}

@media (min-width: 550px) {
  .date-field {
    display: inline;
    width: 32%;
  }
}
