.date-field {
  width: 100%;
}

.gender-field {
  white-space: nowrap;
}

#user_panel_avatar {
  width: 300px;
}

@media (min-width: 768px) {
  .date-field {
    display: inline;
    width: 32%;
  }
}
