@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

$font-stack: 'Open Sans', sans-serif;

body {
  font-family: $font-stack;
  font-size: 20px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

.navbar-nav li {
  margin-right: 10px;
}

#smuldieet-title {
  display: inline;
}

.btn-primary, .btn-danger {
  width: 200px;
}

.no-wrap {
  white-space: nowrap;
}

.fa-star-gold {
  color: gold;
}

#add-foodstuff {
  width: 150px;
}

#add-recipe {
  width: 150px;
}

#form-errors-client, #form-errors-server {
  color: red;
}

.success-message {
  color: green;
}

.error-message {
  color: red;
}

.flash-notice-success {
  color: green;
}

.flash-notice-must-verify {
  color: red;
}

#isSelfInvented_placeholder, label[for=isSelfInvented_placeholder] {
  display: none;
}

.table-small {
  width: 100%;
}

.food-table td:nth-child(2) {
  width: 100px;
}

.food-table td:nth-child(4) {
  width: 30px;
}

@media (min-width: 768px) {
  .table-small {
    width: 768px;
  }
}

@media (min-width: 1200px) {
  body {
    width: 1200px;
  }
}

/* Homepage */
#filter-sort-form #number-of-persons, #votes {
  width: 200px;
}

#filter-sort-form #sort {
  width: 300px;
}

#recipe-search {
  width: 100%;
  display: inline;
}

#recipe-filter-icon {
  color: #0d6efd;
  margin-left: -64px;
}

#recipe-search-icon {
  margin-left: 0;
  color: white;
  background-color: #0d6efd;
  padding: 7px 9px 9px 9px;
  cursor: pointer;
  border-top-right-radius: .375rem;
  border-bottom-right-radius: .375rem;
}

.recipe-image {
  width: 85px;
}

#filter-sort-div #typeOfDish, #cookingTime, #kitchen, #occasion, #diet, #diet-filter, #sort {
  width: 100%;
}

@media (min-width: 375px) {
  .recipe-image {
    width: 100px;
  }
}

@media (min-width: 360px) {
  #recipe-search {
    width: 320px;
  }
}

@media (min-width: 500px) {
  #filter-sort-div #typeOfDish, #cookingTime, #kitchen, #occasion, #diet, #diet-filter, #sort {
    width: 145px;
  }
}

@media (min-width: 870px) {
  #filter-sort-div #typeOfDish, #cookingTime, #kitchen, #occasion, #diet, #diet-filter, #sort {
    display: inline;
  }
}

/* Foodstuff/Recipe form */
.foodstuff-result:hover, .recipe-result:hover {
  background-color: lightgray;
  cursor: pointer;
}

.remove-row {
  color: red;
}

.remove-row:hover {
  cursor: pointer;
}

.hidden-input {
  opacity: 0;
  width: 0;
  height: 0;
  float: left;
}

/* Recipe page */
#recipe-image {
  width: 600px;
}

#singleRecipe {
  margin-right: auto;
  margin-left: auto;
}

#recipe-source {
  display: none;
}

/* Rating form */
#rating_rating {
  width: 50px;
}

#rate-modal-button, #rate-modal-button-star {
  color: rgb(87, 153, 239);
}

#rate-modal-button:hover {
  cursor: pointer
}

.radio-star {
  position: absolute;
  opacity: 0;
  width: 1px;
  margin: 0;
  float: right;
  white-space: nowrap;
}

.fa-star-form {
  color: rgb(87, 153, 239);
}

#rating-div .radio-star:checked ~ label .far {
  font-weight: 900;
}

#rating-div label {
  float: right;
  padding: 10px 4px;
}

#rating-div:hover .far {
  font-weight: 400 !important;
}

#rating-div:hover label:hover .far {
  font-weight: 900 !important;
}

#rating-div label:hover,
#rating-div label:hover ~ label .far {
  font-weight: 900 !important;
}

#rating-div {
  display: inline-block;
  list-style: none;
}

#rate-recipe-login {
  text-decoration: none;
}

/* Overview page */
#overview-legend {
  font-weight: bold;
}

/* Foodstuff page */
#abc-select {
  display: block;
}

#abc-chars {
  display: none;
}

@media (min-width: 576px) {
  #abc-select {
    display: none;
  }

  #abc-chars {
    display: block;
  }
}

/* User page */
.date-field {
  width: 100%;
}

.gender-field {
  white-space: nowrap;
}

@media (min-width: 550px) {
  .date-field {
    display: inline;
    width: 32%;
  }
}
