@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

$font-stack: 'Open Sans', sans-serif;

body {
  font-family: $font-stack;
  font-size: 20px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

.navbar-nav li {
  margin-right: 10px;
}

#smuldieet-title {
  display: inline;
}

.btn-primary, .btn-danger {
  width: 200px;
}

.no-wrap {
  white-space: nowrap;
}

.fa-star {
  color: gold;
}

#add-foodstuff {
  width: 150px;
}

#add-recipe {
  width: 150px;
}

#form-errors-client, #form-errors-server {
  color: red;
}

.success-message {
  color: green;
}

.error-message {
  color: red;
}

.flash-notice-success {
  color: green;
}

.flash-notice-error {
  color: red;
}

.flash-notice-must-verify {
  color: red;
}

#isSelfInvented_placeholder, label[for=isSelfInvented_placeholder] {
  display: none;
}

.table-small {
  width: 100%;

}

@media (min-width: 768px) {
  .table-small {
    width: 768px;
  }
}

@media (min-width: 1200px) {
  body {
    width: 1200px;
  }
}

/* Homepage */
#filter-sort-form #number-of-persons, #votes {
  width: 200px;
}

#filter-sort-form #sort {
  width: 300px;
}

#recipe-filter-icon {
  color: #0d6efd;
}

.recipe-image {
  width: 100px;
}

/* Foodstuff/Recipe form */
.foodstuff-result:hover, .recipe-result:hover {
  background-color: lightgray;
  cursor: pointer;
}

.remove-row {
  color: red;
}

.remove-row:hover {
  cursor: pointer;
}

.hidden-input {
  opacity: 0;
  width: 0;
  height: 0;
  float: left;
}

/* Recipe page */
#recipe-image {
  width: 600px;
}

#recipe-is-self-invented {
  display: inline-block;
  width: 90%;
}

#recipe-source {
  display: none;
}

/* Overview page */
#overview-legend {
  font-weight: bold;
}

/* Foodstuff page */
#abc-select {
  display: block;
}

#abc-chars {
  display: none;
}

@media (min-width: 576px) {
  #abc-select {
    display: none;
  }

  #abc-chars {
    display: block;
  }
}
