<h1>Hoi! Bevestig je e-mail!</h1>

<p>
    Bevestig alsjeblieft je e-mail adres door op de volgende link te klikken: <br><br>
    <a href="{{ signedUrl }}">Bevestig mijn E-mail</a>.
</p>

<p>Bedankt!</p>
