admin_bundle:
    resource: '@AdminBundle/Resources/config/routing.yaml'

user_bundle:
    resource: '@UserBundle/Resources/config/routing.yaml'

controllers:
    resource: routing.controllers

page:
    path: /{req}
    defaults: { _controller: 'App\Controller\PageController::catchAll' }
    requirements:
        req: ".*"
