controllers:
    resource: routing.controllers

admin_bundle:
    resource: '@AppAdminBundle/Resources/config/routing.yaml'

user_bundle:
    resource: '@AppUserBundle/Resources/config/routing.yaml'

page:
    path: /{req}
    defaults: { _controller: 'App\Controller\PageController::catchAll' }
    requirements:
        req: ".*"
