{% extends '@AdminBundle/base.html.twig' %}

{% block title %}Rating{% endblock %}

{% block body %}
    <table class="table table-striped">
        {% for review in reviews %}
            <tr>
                <td>{{ review.content }}</td>
                <td><a href="{{ path('adminRatingEdit', {'id': review.id}) }}">wijzig</a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
