{% extends '@AdminBundle/base.html.twig' %}

{% block title %}Gebruiker{% endblock %}

{% block body %}
    <a href="{{ path('admin_user_create') }}">Maak een gebruiker</a>
    <table class="table table-striped">
        {% for user in paginator.results %}
            <tr>
                <td>{{ user.username }}</td>
                <td><a href="{{ path('admin_user_edit', {'id': user.id}) }}">wijzig</a></td>
            </tr>
        {% endfor %}
    </table>
    {{ include('pagination/view.html.twig', {route: 'admin_user_index_paginated'}) }}
{% endblock %}
