<div class="dropdown">
    <input type="text" class="{{ food_type }}-name form-control dropdown-toggle" maxlength="255" value="{{ title }}"
           role="searchbox" data-bs-toggle="dropdown" placeholder="{{ placeholder }}" required>
    <div class="dropdown-menu dropdown-menu-food">
    </div>
</div>
