{% extends '@AdminBundle/base.html.twig' %}

{% block title %}Scheldwoorden{% endblock %}

{% block body %}
    <a href="{{ path('admin_profanity_create') }}">Maak een scheldwoord</a>
    <table class="table table-striped">
        {% for profanity in profanities %}
            <tr>
                <td>{{ profanity.name }}</td>
                <td><a href="{{ path('admin_profanity_edit', {'id': profanity.id}) }}">wijzig</a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
