{% extends '@AdminBundle/base.html.twig' %}

{% block title %}Voedingsstoffen{% endblock %}

{% block body %}
    <table class="table table-striped">
        {% for nutrient in nutrients %}
            <tr>
                <td>{{ nutrient.displayName }}</td>
                <td><a href="{{ path('admin_nutrient_edit', {'id': nutrient.id}) }}">wijzig</a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
