{% extends '@AdminBundle/base.html.twig' %}

{% block title %}Recept{% endblock %}

{% block content %}
    <table class="table table-striped">
        {% for recipe in recipes %}
            <tr>
                <td>{{ recipe.title }}</td>
                <td><a href="{{ path('admin_recipe_edit', {'id': recipe.id}) }}">wijzig</a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
